{% extends 'layout_evenement.html.twig' %}
{% block body %}
<div class="container">
	<div class="row">
	<div class="panel">
		<h1>Nos galeries photos</h1>
	</div>
	  {% for banniere in bannieres %}
	  <div class="col-md-4">
		<div class="thumbnail">
		  <a data-toggle="modal" style="cursor:pointer" data-target="#link_galerie_{{ banniere.id }}">
			<img src="{{ asset('uploads/images/' ~ banniere.banniere) }}"  style="width:100%">        
		  </a>      
		</div>
	  </div> 
	  
	  <!-- Modal -->
		<div class="modal fade" id="link_galerie_{{ banniere.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{ banniere.libelle }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<img src="{{ asset('uploads/images/' ~ banniere.banniere) }}"  style="width:100%">   
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
				
			  </div>
			</div>
		  </div>
		</div>
		<!-- modal -->
	  {% endfor %}
	</div>  
</div>
{% endblock %}