<!DOCTYPE html>
<html>
  <head>
    <title>UCM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="{{ asset('css/font-aweson.min.css') }} ">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-sociale.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ucm.css') }}">
    <link rel="stylesheet" href="{{ asset('css/v2.css') }} ">
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    
  </head>

  <body>

    <!-- debut -->
    <!--************************************ HEADER ***********************************-->
    <div class="container-fluid">
      <!-- fin menu -->
      <header>
        <nav class="navbar navbar-fixed-top navbar-justified  ">
          <div class="container w-100">
              <button type="button" class="navbar-toggle mycustume-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand mon-logo" href="#"><img class="white" src="img/logo-ucm.jpg"></a> 
              <div class="navbar-header navbar-right">
                <div class=" pull-left" id="menu-resp">
                  <ul class="nav navbar-nav navbar-right">
                    {% for menutop in getMenuTop() %}
                        <li>
                            <li class="active"><a href="{{ menutop.url }}" class="hvr-underline-from-center break-slide ">{{ menutop.libelle }}</a></li>
                        </li>
                    {% endfor %}                    
                  </ul>

                  
                <ul class="langue-search pull-right">
                  <li>
                    <button class="btn btn-default btn-search">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </li>
                   <li class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"> FR
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">EN</a></li>
                      <li><a href="#">US</a></li>
                    </ul>
                  </li>
                </ul>
             </div> 
          </div>

          <div id="search" >
            <button type="button" class="btn-search"><i class="fa fa-close"></i></button>
            <div class="container">
              <form class="navbar-form navbar-left">
              <div class="input-group search">
                <input type="text" class="form-control search_input" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-default bg-none" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </form>
            </div>
          </div>
        </nav>        

        <!-- HEADER 2 STICKY -->
        <div class="header" id="myHeader">
          <nav class="navbar navbar-inverse">
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">
                  <img class="white" src="{{ getLogo() }}">

                  <img class="no-color" src="{{ getLogo() }}">
                </a>
              </div>
              <div>
                <ul class="nav navbar-nav navbar-right">
                 {% for menumiddle in getMenuMiddle() %}
                        <li>
                            <a href="#" class="campus"  id="bg_menu_{{  menumiddle.id }}">{{ menumiddle.libelle }}</a>
                        </li>
                  {% endfor %} 
                </ul>
              </div>
            </div>
          </nav>

           <!-- big menu -->
          {% for menumiddle in getMenuMiddle() %}
          <div class="container">
            <div class="panels" id="panel_bg_menu_{{  menumiddle.id }}">
              <button class="close"></button>
                <div class="container">
                  <div class="row">
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="thumb">
                          <img src="img/4.jpg">
                        </div>
                        <div class="col-lg-12">
                          <form class="form" role="form">                            
                            <button type="submit" class="btn btn-primary btn-block">UCM - {{ menumiddle.libelle }}</button>
                          </form>
                        </div>  
                      </div>
                      <div class="col-md-8 col-sm-12 col-xs-12">
                          <h3>{{ menumiddle.libelle }}</h3>
                          <hr>
                          <div class="row">
                            {% set menu = menumiddle.id %}
                            {% set compteur = 0 %}
                            {% set countMenu = getChildMenu(menu)|length %}           

                            {% for child in getChildMenu(menu) %}  
                                {% if (compteur % 5) == 0 or (compteur == 0) %} 
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                  <ul> 
                                {% endif %}             

                                {% if child.modelePage == 'formation' %}
                                    <li><a href="{{ path('ucm_front_show_formation',{'url':child.url,'id':child.id}) }}" style="color:#000">{{ child.libelle | capitalize  }}</a></li>  

                                {% elseif child.modelePage == 'evenement' %}
                                    <li><a href="{{ path('ucm_front_show_evenement',{'url':child.url,'id':child.id}) }}" style="color:#000">{{ child.libelle | capitalize  }}</a></li> 
                                {% else %}
                                    <li><a href="{{ path('ucm_front_show_rubrique',{'url':child.url,'id':child.id}) }}" style="color:#000">{{ child.libelle | capitalize  }}</a></li>

                                {% endif %}
                                {% set compteur = compteur + 1 %}
                                {% if (compteur % 5) == 0 or (compteur == countMenu) %} 
                                  </ul>  
                                </div>
                                {% endif %}                         
                            {% endfor  %} 
                          </div>
                          <hr>
                          <div class="row">                             
                          </div>
                        </div>
                    </div>
                </div>    
              </div>
          </div>
          <!-- fin big menu -->
          {% endfor %}

        </div>
         <div class="sticki-padd"></div>
      </header>
      <!-- fin menu -->
    </div><!-- container-fluid -->   



    <div id="mycontent-blure">      
      <div class="even-absolut">
        {% block banniere %}          
        {% endblock %}

        {% block body %}
        {% endblock %}

      </div>     
      {% block reseauxsociaux %}
      {% endblock %}
      
     {% block partenaire %}
     {% endblock %}   

    <footer class="container-fluid text-center">
      <section id="footer">
        <div class="container">
          <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-6 col-md-3 right-toLeft">
              <div class="logo">
                <a href=""><img src="{{ getLogo() }}"></a>
              </div>
            </div>
            <div class="full-w col-xs-6 col-sm-4 col-md-3">
              <h5>Quick links</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
              </ul>
            </div>
            <div class="full-w col-xs-6 col-sm-4 col-md-3">
              <h5>Quick links</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
              </ul>
            </div>
            <div class="full-w col-xs-6 col-sm-4 col-md-3">
              <h5>Quick links</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
              </ul>
            </div>
            
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
              <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
            </hr>
          </div>  
          <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
              <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.ucm.com" target="_blank">UCM</a></p>
            </div>
            </hr>
          </div>  
        </div>
      </section>

      <div class="container">
      
        
        <div class="nav">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">UNIVERSITÉ</a></li>
          <li><a href="#">FACULTÉ DES SCIENCES SOCIALES</a></li>
          <li><a href="#">DÉPARTEMENT DE THÉOLOGIE</a></li>
          <li><a href="#">DÉPARTEMENT DE PHILOSOPHIE</a></li>
          <li><a href="#">DÉPARTEMENT DE PSYCHOLOGIE</a></li>
        </ul>
      </div>
      </div>
    </footer>

    <div id="stop" class="scrollTop hvr-bob">
      <span><a href=""></a></span>
    </div>

  </div>
<!-- MODALE MENU -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div class="rep-pops">
          <div class="panel2">
                  <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <div class="thumb">
                            <img src="img/4.jpg" class="img-responsive">
                          </div>
                          <div class="col-lg-12">
                            <form class="form" role="form">
                              <div class="form-group">
                                <label class="sr-only" for="email">Email address</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email">
                              </div>
                              <button type="submit" class="btn btn-primary btn-block">Sign in hhhh</button>
                            </form>
                          </div>  
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <h3>futur étudiant</h3>
                            <hr>
                            <div class="row">
                             <div class="col-md-3 col-sm-3 col-xs-6">
                                <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-6">
                               <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>

                              <div class="col-md-3 col-sm-3 col-xs-6">
                               <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-6">
                               <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>  </ul>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-md-3 col-sm-3 col-xs-6">
                                <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>

                               <div class="col-md-3 col-sm-3 col-xs-6">
                                <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>

                               <div class="col-md-3 col-sm-3 col-xs-6">
                                <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-6">
                                <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>    
            </div>
        </div>
        </div>
      </div>

    </div>

  </div>
</div>


<!-- Modal 2 -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="rep-pops">
          <div class="panel2">
                  <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <div class="thumb">
                            <img src="img/4.jpg" class="img-responsive">
                          </div>
                          <div class="col-lg-12">
                            <form class="form" role="form">
                              <div class="form-group">
                                <label class="sr-only" for="email">Email address</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email">
                              </div>
                              <button type="submit" class="btn btn-primary btn-block">Sign in vvvv</button>
                            </form>
                          </div>  
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <h3>futur étudiant</h3>
                            <hr>
                            <div class="row">
                             <div class="col-md-3 col-sm-3 col-xs-6">
                                <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-6">
                               <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>

                              <div class="col-md-3 col-sm-3 col-xs-6">
                               <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-6">
                               <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>  </ul>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-md-3 col-sm-3 col-xs-6">
                                <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>

                               <div class="col-md-3 col-sm-3 col-xs-6">
                                <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>

                               <div class="col-md-3 col-sm-3 col-xs-6">
                                <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-6">
                                <ul>
                                  <li class="dropdown-header">Dresses</li>
                                  <li><a href="#">Unique Features</a></li>
                                  <li><a href="#">Image Responsive</a></li>
                                  <li><a href="#">Auto Carousel</a></li>
                                  <li><a href="#">Newsletter Form</a></li>
                                  <li><a href="#">Four columns</a></li>
                                  <li class="divider"></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>    
                </div>
        </div>
              
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/wow.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/wow.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/application.js') }}"></script>

    {% block script %}
    {% endblock %}


    <!-- SEARCH HEADER -->
   

<!--/******************************
      STYCKY ADD CLASS
     ******************************/ -->
    <script>
        $(document).ready(function() { 
          $('select').select2(); 
        });
    </script>


    <!--/******************************
     wow js
     ******************************/ -->
    <script>
       wow = new WOW(
            {
              animateClass: 'animated',
              offset:       100,
              callback:     function(box) {
                console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
              }
            }
          );
          wow.init();
          document.getElementById('moar').onclick = function() {
            var section = document.createElement('section');
            section.className = 'section--purple wow fadeInDown';
            this.parentNode.insertBefore(section, this);
          };
          </script>

          <!-- STYCKY -->
          <script>
            window.onscroll = function() {myFunction()};

            var header = document.getElementById("myHeader");
             var sticky = header.offsetTop;

            function myFunction() {
              if (window.pageYOffset >= sticky) {
                header.classList.add("scroll");
              } else {
                header.classList.remove("scroll");
              }
            }
    </script>

<!--/******************************
      BOTTOM SCROLL TOP BUTTON
   ******************************/ -->

    <script type="text/javascript">
      $(document).ready(function() {


    // declare variable
    var scrollTop = $(".scrollTop");

    $(window).scroll(function() {
      // declare variable
      var topPos = $(this).scrollTop();

      // if user scrolls down - show scroll to top button
      if (topPos > 100) {
        $(scrollTop).css("opacity", "1");

      } else {
        $(scrollTop).css("opacity", "0");
      }

    }); // scroll END

    //Click event to scroll to top
    $(scrollTop).click(function() {
      $('html, body').animate({
        scrollTop: 0
      }, 800);
      return false;

    }); // click() scroll top EMD

   

    
  }); // ready() END
</script>

</body>