{% extends 'layout_admin.html.twig' %}
{# Type menu #}

{% block sidebar %}
        <ul class="list-unstyled components">
                        <li>
                            <a href="{{ path('ucm_admin')}}">
                                <i class="glyphicon glyphicon-user"></i>
                                Configuration génerale du site 
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('ucm_admin_typemenu_list') }}">
                                <i class="glyphicon glyphicon-home"></i>
                                Type menu
                            </a>
                        </li>
                        <li class="">
                            <a href="{{ path('ucm_admin_categorie_list') }}">
                                <i class="glyphicon glyphicon-briefcase"></i>
                                Catégorie
                            </a>                            
                        </li>
                        <li>
                            <a href="{{ path('ucm_admin_rubrique_list') }}">
                                <i class="glyphicon glyphicon-link"></i>
                                Rubriques
                            </a>
                        </li>
                        <li>
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-duplicate"></i>                                
                                Formations
                            </a>
                            <ul class="list-unstyled" id="pageSubmenu" style="">
                                <li><a href="{{ path('ucm_admin_formation_departement') }}">Departement</a></li>
                                <li><a href="{{ path('ucm_admin_formation_categformation') }}">Catégories formations</a></li>
                                <li><a href="{{ path('ucm_admin_formation_formation') }}">Formations</a></li>
                                <li><a href="{{ path('ucm_admin_formation_programme') }}">Programmes</a></li>
                            </ul>
                        </li>
                        <li class="{{ isBanniere}}">
                            <a href="{{ path('ucm_admin_banniere_list') }}">
                                <i class="glyphicon glyphicon-briefcase"></i>
                                Bannière accueil
                            </a>                            
                        </li>
						<li class="" >
							<a href="{{ path('ucm_admin_actualite_list') }}">
							<i class="glyphicon glyphicon-send"></i>
							Actualités
							</a>
						</li>
                        
                        <li>
                            <a href="{{ path('ucm_admin_evenement_list') }}">
                                <i class="glyphicon glyphicon-send"></i>
                                Evenements
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('ucm_admin_partenaire_list') }}">
                                <i class="glyphicon glyphicon-send"></i>
                                Partenaires
                            </a>
                        </li>
						<li>
			<a href="{{ path('ucm_admin_directeur_list') }}">
				<i class="glyphicon glyphicon-user"></i>
				Directeur
			</a>
		</li>
		 <li>
			<a href="{{ path('ucm_admin_motdirecteur_list') }}">
				<i class="glyphicon glyphicon-user"></i>
				Mot du directeur
			</a>
		</li>
                        <li>
                            <a href="{{ path('user_list') }}">
                                <i class="glyphicon glyphicon-user"></i>
                                Utilisateurs
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('ucm_admin_contact_list') }}">
                                <i class="glyphicon glyphicon-user"></i>
                                Contacts
                            </a>
                        </li>
                        
                    </ul>
{% endblock %}

{% block recherche %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<div class="row">
	<div class="col-md-6">
		<h2><span style="color:#062F4F;font-weight:bold">{{ titre }}</span></h2>
	</div>
	
</div>    
</div>
{% endblock recherche %}


{% block body %}

	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}

    {{ form_errors(form) }}
    <h3 style="color:#062F4F;font-weight:bold"> Libelle et image bannière</h3>
    <hr />
    <div class="form-group">
	      {# Génération du label. #}
          <div class="col-sm-3">
	       {{ form_label(form.libelle, "Libelle", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          </div>

	      {# Affichage des erreurs pour ce champ précis. #}
	      {{ form_errors(form.libelle) }}
	      <div class="col-sm-4">
	        {# Génération de l'input. #}
	        {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
	      </div>
    </div>

    <div class="form-group">
          {# Génération du label. #}
          <div class="col-sm-3">
          {{ form_label(form.banniere, "Banniere", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          </div>

          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(form.banniere) }}
          <div class="col-sm-4">
            {# Génération de l'input. #}
            {{ form_widget(form.banniere, {'attr': {'class': 'form-control'}}) }}
          </div>
    </div>
	
	<h3 style="color:#062F4F;font-weight:bold"> Rubrique liée</h3>
    <hr />
	 <div class="form-group">
          {# Génération du label. #}
          <div class="col-sm-3">
          {{ form_label(form.rubrique, "Rubrique", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          </div>

          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(form.rubrique) }}
          <div class="col-sm-4">
            {# Génération de l'input. #}
            {{ form_widget(form.rubrique, {'attr': {'class': 'form-control'}}) }}
          </div>
    </div>
    <h3 style="color:#062F4F;font-weight:bold"> Description</h3>
    <hr />

    <div class="form-group">
	      {# Génération du label. #}
          <div class="col-sm-3">
	      {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          </div>

	      {# Affichage des erreurs pour ce champ précis. #}
	      {{ form_errors(form.description) }}
	      <div class="col-sm-4">
	        {# Génération de l'input. #}
	        {{ form_widget(form.description, {'attr': {'class': 'form-control','style':'width: 757px;height: 274px;'}}) }}
	      </div>
    </div>
    

    

   
	
	
	    <div class="form-group">
	      {# Génération du label. #}
          <div class="col-sm-3">
	      {{ form_label(form.actif, "Homepage", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          </div>

	      {# Affichage des erreurs pour ce champ précis. #}
	      {{ form_errors(form.actif) }}
	      <div class="col-sm-4">
	        {# Génération de l'input. #}
	        {{ form_widget(form.actif, {'attr': {'class': 'form-control','style':'width: 11px'}}) }}
	      </div>
    </div>
	
	 <div class="form-group">
	      {# Génération du label. #}
          <div class="col-sm-3">
	      {{ form_label(form.onpage, "Pages", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          </div>

	      {# Affichage des erreurs pour ce champ précis. #}
	      {{ form_errors(form.onpage) }}
	      <div class="col-sm-4">
	        {# Génération de l'input. #}
	        {{ form_widget(form.onpage, {'attr': {'class': 'form-control','style':'width: 11px'}}) }}
	      </div>
    </div>
    
    


    <div class="form-group">   

	      {# Affichage des erreurs pour ce champ précis. #}	     
	      <label class="col-sm-3"></label>   
	      <div class="col-sm-4">
	        {# Génération de l'input. #}
	        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
	      </div>
    </div>

   {# Génération automatique des champs pas encore écrits.
	 Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
	 et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}

{% endblock %}